<?xml version="1.0" encoding="UTF-8" ?>
<opt>
  <connector>
    <name>homematic</name>
    <config>
      <hm_url>http://192.168.3.90/config/xmlapi/statechange.cgi</hm_url>
      <ise_id>ise_id</ise_id>
      <value>value</value>
    </config>
  </connector>
  <daemon>false</daemon>
  <intervall>30</intervall>
  <logging>
    <name>loglevel</name>
    <unkown>true</unkown>
  </logging>
  <logging>
    <name>output</name>
    <console>
      <enable>true</enable>
      <loglevel>
        <alert>true</alert>
        <critical>true</critical>
        <debug>true</debug>
        <emergency>true</emergency>
        <error>true</error>
        <info>true</info>
        <unkown>true</unkown>
      </loglevel>
    </console>
    <file>
      <clearlog>true</clearlog>
      <dir>/mnt/nas01/entwicklung/onewire/1wire/log/</dir>
      <enable>true</enable>
      <filename>error.log</filename>
      <filesize>1000000</filesize>
      <holdzipfiles>3</holdzipfiles>
      <loglevel>
        <alert>true</alert>
        <critical>true</critical>
        <debug>false</debug>
        <emergency>true</emergency>
        <error>true</error>
        <info>false</info>
        <unkown>true</unkown>
      </loglevel>
      <logrotation>true</logrotation>
    </file>
    <file>
      <clearlog>true</clearlog>
      <dir>/mnt/nas01/entwicklung/onewire/1wire/log/</dir>
      <enable>true</enable>
      <filename>debug.log</filename>
      <filesize>1000000</filesize>
      <holdzipfiles>3</holdzipfiles>
      <logrotation>true</logrotation>
    </file>
  </logging>
  <onewire>
    <name>onewire</name>
    <config>
      <device_list>
        <name>_H_Boden_Ruecklauf</name>
        <device_id>28-0115913432ff</device_id>
        <enable>1</enable>
        <ise_id>123456</ise_id>
        <value> 31.80</value>
      </device_list>
      <device_list>
        <name>_H_Boden_Vorlauf</name>
        <device_id>28-011591355eff</device_id>
        <enable>1</enable>
        <ise_id>123456</ise_id>
        <value> 29.00</value>
      </device_list>
      <device_list>
        <name>_H_Heizung_Vorlauf</name>
        <device_id>28-011591363eff</device_id>
        <enable>1</enable>
        <ise_id>123456</ise_id>
        <value> 40.10</value>
      </device_list>
      <device_list>
        <name>_H_Koerkper_Ruecklauf</name>
        <device_id>28-011591382fff</device_id>
        <enable>1</enable>
        <ise_id>123456</ise_id>
        <value> 28.90</value>
      </device_list>
      <device_list>
        <name>_H_Koerkper_Vorlauf</name>
        <device_id>28-0115913679ff</device_id>
        <enable>0</enable>
        <ise_id>123456</ise_id>
        <value>8</value>
      </device_list>
      <device_list>
        <name>_H_Warmwasser</name>
        <device_id>28-0315911b36ff</device_id>
        <enable>0</enable>
        <ise_id>123456</ise_id>
        <value>76</value>
      </device_list>
      <path>/sys/bus/w1/devices/w1_bus_master1/</path>
      <tempDiv>0.5</tempDiv>
    </config>
  </onewire>
  <path>/mnt/nas01/entwicklung/onewire/1wire</path>
  <pidfile>/var/run/onewire.pid</pidfile>
</opt>
